.article-page-container-category {
  position: relative;
  padding-left: 5rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .article-wrapper {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;

    .article {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      transition: all 0.1s ease-in-out;

      .article-img-wrapper {
        width: 300px;
        height: 169px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 2rem;
        position: relative;
        top: 1rem;
        .spinner {
          z-index: -1;
        }
        .article-img {
        }
      }
      .article-description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 17rem;
        height: auto;
        border-radius: 2rem;
        background-color: white;
        font-size: 1rem;
        padding: 1rem;
        position: relative;
        top: -1rem;
        -webkit-box-shadow: 0px 0px 10px -6px #000000;
        box-shadow: 0px 0px 10px -6px #000000;
        transition: all 0.3s ease-in-out;
        .title {
          text-align: center;
          margin-bottom: 1.5rem;
        }
        .content {
          text-align: center;
          line-height: 2rem;
        }
      }
      &:hover {
        scale: 1.02;
      }
    }
  }

  .backward {
    left: 2rem;
    bottom: 2rem;
    margin-left: 5rem;
  }
  .forward {
    right: 2rem;
    bottom: 2rem;
  }

  .backward,
  .forward {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 1rem;
    font-size: 1rem;
    width: 2rem;
    aspect-ratio: 1/1;
    -webkit-box-shadow: 0px 0px 15px -6px #000000;
    box-shadow: 0px 0px 15px -6px #000000;
    transition: all 0.3s ease-in-out;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border: none;
    transition: all 0.3s ease-in-out;

    &.no-content {
      opacity: 0.5;

      &:hover {
        cursor: no-drop;
        background-color: white;
        transform: translateY(0rem);
        color: black;
        -webkit-box-shadow: 0px 0px 20px -6px #000000;
        box-shadow: 0px 0px 20px -6px #000000;
      }
    }

    &:hover {
      background-color: rgb(70, 70, 255);
      transform: translateY(-0.3rem);
      color: white;
      -webkit-box-shadow: 0px 0px 20px -6px #ffffff;
      box-shadow: 0px 0px 20px -6px #ffffff;
    }
  }
}

@media (max-width: 768px) {
  .article-page-container-category {
    .article-wrapper {
      flex-direction: column;
    }
    .backward,
    .forward {
      padding: 0.5rem;
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 600px) {
  .article-page-container-category {
    .article-wrapper {
      justify-content: center;
      .article {
        scale: 0.85;

        &:hover {
          scale: 0.87;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .article-page-container-category {
    padding-left: 4rem;
    .article-wrapper {
      justify-content: center;
      align-items: center;
      .article {
        scale: 0.75;
        margin: -2rem;

        &:hover {
          scale: 0.77;
        }
      }
    }
    .backward {
      left: 1rem;
      bottom: 1rem;
      margin-left: 4rem;
    }
    .forward {
      right: 1rem;
      bottom: 1rem;
    }
  }
}

@media (max-width: 375px) {
  .article-page-container-category {
    .article-wrapper {
      .article {
        scale: 0.7;
        margin: -2.5rem;

        &:hover {
          scale: 0.72;
        }
      }
    }
    .backward {
      left: 1rem;
      bottom: 1rem;
      margin-left: 3rem;
    }
  }
}
