* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scrollbar-width: thin;
  letter-spacing: 0.5px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  line-height: 0;
}

body {
  background-color: white;
  color: black;
  transition: all 0.3s ease-in-out;

  &.active {
    color: white;
    background-color: rgb(22, 22, 22);

    .navbar-wrapper {
      -webkit-box-shadow: 0px 0px 25px -8px #393939;
      box-shadow: 0px 0px 25px -8px #393939;
      background-color: rgb(0, 0, 184);

      .navbar {
        .logo {
          color: white;
        }
      }
    }

    .homepage {
      .homepage-part-one,
      .homepage-part-two,
      .homepage-part-three {
        scrollbar-color: rgb(21, 21, 21) rgb(21, 21, 21);
        .page-title {
          background-color: rgb(19, 19, 19);
          -webkit-box-shadow: 0px 0px 20px -8px #393939;
          box-shadow: 0px 0px 20px -8px #393939;
          border-radius: 0 0 1.5rem 1.5rem;
        }
      }

      .homepage-part-two,
      .homepage-part-three {
        .description-homepage-wrapper {
          .img-wrapper-one,
          .img-wrapper-two {
            -webkit-box-shadow: 0px 0px 25px -8px #393939;
            box-shadow: 0px 0px 25px -8px #393939;
          }
          .description-homepage {
            background-color: rgb(19, 19, 19);
            -webkit-box-shadow: 0px 0px 20px -8px #393939;
            box-shadow: 0px 0px 20px -8px #393939;
          }
        }
      }
    }

    .spinner > div {
      background-color: rgb(0, 0, 184);
    }

    .article-page-container-category,
    .article-page-container-search {
      .article-wrapper {
        .article {
          .article-img-wrapper {
            -webkit-box-shadow: 0px 0px 25px -8px #393939;
            box-shadow: 0px 0px 25px -8px #393939;
          }
          .article-description {
            background-color: rgb(19, 19, 19);
            -webkit-box-shadow: 0px 0px 20px -8px #393939;
            box-shadow: 0px 0px 20px -8px #393939;
          }
        }
      }
    }

    .article-page-wrapper {
      .ticket {
        color: black;
        -webkit-box-shadow: 0px 0px 20px -6px #ffffff;
        box-shadow: 0px 0px 20px -6px #ffffff;
        &:hover {
          color: white;
          background-color: rgb(0, 0, 184);
          -webkit-box-shadow: 0px 0px 20px -10px #ffffff;
          box-shadow: 0px 0px 20px -10px #ffffff;
        }
      }
      .article-clicked {
        .article {
          .article-img-wrapper {
            -webkit-box-shadow: 0px 0px 25px -8px #393939;
            box-shadow: 0px 0px 25px -8px #393939;
          }
          .article-description {
            background-color: rgb(19, 19, 19);
            -webkit-box-shadow: 0px 0px 20px -8px #393939;
            box-shadow: 0px 0px 20px -8px #393939;
          }
        }
      }
      .related-wrapper {
        -webkit-box-shadow: 0px 0px 45px -30px #555555;
        box-shadow: 0px 0px 45px -30px #555555;
        .related-title {
          color: white;
        }
        .related {
          .article {
            .article-img-wrapper {
              -webkit-box-shadow: 0px 0px 25px -8px #393939;
              box-shadow: 0px 0px 25px -8px #393939;
            }

            .article-description {
              background-color: rgb(19, 19, 19);
              -webkit-box-shadow: 0px 0px 20px -8px #393939;
              box-shadow: 0px 0px 20px -8px #393939;
            }
          }
        }
      }
    }
  }
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}
