.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 5rem;
  height: 100vh;
  background-color: rgb(70, 70, 255);
  color: white;
  border-radius: 0 0.5rem 0.5rem 0;
  -webkit-box-shadow: 0px 0px 20px -6px #000000;
  box-shadow: 0px 0px 20px -6px #000000;

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

    .logo {
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
      color: black;
      cursor: pointer;
    }

    .category {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .single-category-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .category-icon,
        .home {
          font-size: 1.5rem;
          transition: all 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            scale: 1.1;
          }
        }
        .bubble {
          position: absolute;
          width: 0;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background-color: white;
          z-index: -1;
          transition: all 0.4s ease-in-out;
        }
        &.active {
          .category-icon,
          .home {
            color: black;
          }
          .bubble {
            width: 2.7rem;
          }
        }
      }
    }

    .search-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .icon {
        font-size: 1.3rem;
        transition: all 0.3s ease-in-out;
        &:hover {
          scale: 1.1;
          color: black;
        }
      }
      .input {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 5.5rem;
        z-index: 100000;
        .input-field {
          display: none;
        }
        .submit {
          display: none;
          cursor: pointer;
        }

        &.active {
          .input-field {
            display: block;
          }
          .submit {
            display: block;
          }
        }
      }
    }
    .portfolio-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 2.5rem;
      aspect-ratio: 1/1;
      background-color: black;
      border-radius: 50%;
      margin-bottom: 1.3rem;
      cursor: pointer;
      overflow: hidden;
      text-decoration: none;

      .portfolio-name {
        font-size: 1.5rem;
        font-weight: bold;
        background: #121fcf;
        background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        .portfolio-name {
          scale: 1.1;
        }
      }
    }
  }
}
