.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5.5rem;
  line-height: 1.8rem;
  overflow-y: hidden;

  .homepage-part-one,
  .homepage-part-two,
  .homepage-part-three {
    overflow-y: scroll;
    scrollbar-color: rgb(241, 241, 241) rgb(241, 241, 241);
    height: 100vh;

    .page-title {
      z-index: 2;
      position: sticky;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 3rem;
      border-radius: 0 0 0.5rem 0.5rem;
      background-color: white;
      -webkit-box-shadow: 0px 0px 16px -6px #000000;
      box-shadow: 0px 0px 16px -6px #000000;

      p {
        text-align: center;
        font-weight: bold;
      }
    }
  }

  .homepage-part-one {
    width: 40%;
    .article {
      margin: 2rem 0 6rem 0.5rem;

      &:last-child {
        margin-bottom: 2rem;
      }
      .title {
      }
      .content {
        img {
          position: absolute;
          top: -8rem;
        }
        p {
        }
      }
    }
  }

  .homepage-part-two {
    width: 35%;
    .description-homepage-wrapper {
      margin-bottom: 4rem;
      .iframe {
        z-index: 0;
        border: none;
        border-radius: 1rem;
        position: relative;
        top: -0.5rem;
      }
    }
  }
  .homepage-part-three {
    width: 25%;
    .description-homepage-wrapper {
      .description-homepage {
        text-align: center;
      }
    }
  }

  .homepage-part-two,
  .homepage-part-three {
    .description-homepage-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:first-of-type {
        margin-top: 1rem;
      }

      .img-wrapper-one {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 1rem;
        margin-top: 1rem;
        width: 95%;

        .img-one {
        }
      }
      .img-wrapper-two {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 2rem;
        width: 95%;
        position: relative;
        top: 1rem;
        .img-two {
        }
      }

      .description-homepage {
        width: 80%;
        border-radius: 2rem;
        background-color: white;
        font-size: 1rem;
        padding: 1rem;
        position: relative;
        top: -1rem;
        -webkit-box-shadow: 0px 0px 10px -6px #000000;
        box-shadow: 0px 0px 10px -6px #000000;
        .description-title {
          text-align: center;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
