.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5.5rem;
  line-height: 1.8rem;
  overflow-y: hidden;

  .homepage-part-one,
  .homepage-part-two,
  .homepage-part-three {
    overflow-y: scroll;
    scrollbar-color: rgb(241, 241, 241) rgb(241, 241, 241);
    height: 100vh;
    transition: all 0.3s ease-in-out;

    .page-title {
      z-index: 2;
      position: sticky;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 3rem;
      border-radius: 0 0 0.5rem 0.5rem;
      background-color: white;
      -webkit-box-shadow: 0px 0px 16px -6px #000000;
      box-shadow: 0px 0px 16px -6px #000000;
      transition: all 0.3s ease-in-out;

      p {
        text-align: center;
        font-weight: bold;
      }
    }
  }

  .homepage-part-one {
    width: 40%;
    .homepage-part-one-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      padding-left: 1rem;
      .site-name,
      p {
        width: 100%;
        margin-bottom: 0.5rem;
      }
      .site-name {
        font-size: 2.3rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
      }
      .carousel {
        margin-top: 1rem;
        margin-bottom: 3rem;
        width: 80%;
        border-radius: 1.5rem;
      }
      .destination-title {
        font-size: 1.5rem;
        margin-bottom: 3rem;
      }

      .destination-img {
        width: 90%;
        border-radius: 2rem;
      }

      .destinations-description {
        margin-top: 3rem;
        margin-bottom: 3rem;
        text-align: center;
      }
    }
  }

  .homepage-part-two {
    width: 35%;
    .description-homepage-wrapper {
      margin-bottom: 4rem;
      .iframe {
        z-index: 0;
        border: none;
        border-radius: 1rem;
        position: relative;
        top: -0.5rem;
        width: 85%;
        height: 13rem;
      }
    }
  }
  .homepage-part-three {
    width: 25%;
    .description-homepage-wrapper {
      .description-homepage {
        text-align: center;
      }
    }
  }

  .homepage-part-two,
  .homepage-part-three {
    .description-homepage-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:first-of-type {
        margin-top: 1rem;
      }

      .img-wrapper-one {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 1rem;
        margin-top: 1rem;
        width: 95%;

        .img-one {
        }
      }
      .img-wrapper-two {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 2rem;
        width: 95%;
        position: relative;
        top: 1rem;
        .img-two {
        }
      }

      .description-homepage {
        width: 80%;
        border-radius: 2rem;
        background-color: white;
        font-size: 1rem;
        padding: 1rem;
        position: relative;
        top: -1rem;
        -webkit-box-shadow: 0px 0px 10px -6px #000000;
        box-shadow: 0px 0px 10px -6px #000000;
        transition: all 0.3s ease-in-out;
        .description-title {
          text-align: center;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
